:root
{
    --Color-fondo:rgba(90, 29, 29, 0.74);
    --Color-lineas:rgba(22, 1, 1, 0.849);
}
*
{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
html
{
    font-style:62.5%;
}
.Caja_total
{
    background-color: bisque;
    font-size: 1.5rem;
    width:100vw;
    height:100vh;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    flex-direction: row;
    overflow:hidden;
    font-family: 'Fasthand', cursive;
}
.Cabecera
{
   background-color: var(--Color-fondo); 
   width:100vw;
   height:8vh;
   min-height: 4rem;
   border: 0.5rem solid rgba(22, 1, 1, 0.849);
   display: flex;
   align-items: center;
}
.logo
{
    border-radius: 50%;
    margin: 0.5rem;
}
h1
{
    margin: auto;
}
ul
{
    display: flex;
    list-style: none;
    padding-right: 0.5rem;
    align-self: flex-end;
}
ul li
{
    margin-left: 0.5rem;
    border-radius: 0.2rem;
    line-height: 2rem;
    margin-bottom: 0.3rem;
    border: 0.05rem solid rgba(187, 24, 24, 0.192);
    background-color: rgba(216, 173, 173, 0.685);
    
}

.navs 
{
   background-color: rgba(90, 29, 29, 0.596); 
   width:20vw;
   height:85.1vh;
   min-height: 4rem;
   border-left: 0.5rem solid rgba(22, 1, 1, 0.849);
   border-right: 0.5rem solid rgba(22, 1, 1, 0.849);

}
.navs p
{
    font-size: 50px;
    margin: 1rem;
    display: flex;
   justify-content: center;
   align-items: center;
}
.cuadro
{
    background-color: rgba(180, 111, 20, 0.568);
    width: 16vw;
    height: 17vh;
    margin: auto;
    margin-bottom: 1rem;
    border: 0.3rem solid rgba(22, 1, 1, 0.849);
    display: flex;
    align-self: center;
    

}

.Cuerpo
{
   background-color: rgba(90, 29, 29, 0.438); 
   width:80vw;
   height:85.1vh;
   min-height: 4rem;
   border-right: 0.5rem solid rgba(22, 1, 1, 0.849);
   display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.Uno
{
    font-size: 4rem;
    background-color: rgba(165, 42, 42, 0.486);
    margin:1rem;
    width: 78vw;
    height: 8vh;

}
.Dos
{
    background-color: rgba(165, 42, 42, 0.486);
    margin-left: 1rem;
    width: 45vw;
    height: 50.125vh;

}

.Tres
{
    background-color: rgba(165, 42, 42, 0.486);
    margin-right: 1rem;
    margin-left: 1rem;
    width: 26vw;
    height: 50.125vh;



}
.Cuatro
{
    background-color: rgba(165, 42, 42, 0.486);
    margin: 1rem;
    width: 78vw;
    height: 20.125vh;
}
.Pie_de_paguina
{
   background-color: rgba(90, 29, 29, 0.74); 
   width:100vw;
   height:5vh;
   min-height: 4rem;
   border: 0.5rem solid rgba(22, 1, 1, 0.849);
}