<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAYOUT</title>
    <link rel="stylesheet" href="./CSS/Style.css"/>
</head>
<body class="caja_contenedora">
    <div class="header">
        <class="listas">
            <div class="listas logo">
                <img src="./IMAGENES/Cafe_Logo.png" widht="50px" height="50px"/>
            </div>
            <div class="listas titulo"><p>DR. CAFE</p></div>
            <nav class="listas productos">
                <ul>
                    <li class="Inicio">Inicio</li>
                    <li class="Seccion">Seccion</li>
                    <li class="Sar">Sar</li>
                </ul>
            </nav>
        </div>
    </div>
    
    <div class="nav">
    </div>
    <div class="body">
    </div>
    <div class="footer">
    </div>
</body>
</html>