*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html
{
    font-size: 62.5%;
}
.container
{
    display: flex;
    flex-wrap: wrap;
}
.c1,
.c2,
.c3,
.c4,
.c5
{
    width:100%;
    min-width: 15rem;
    height: 20vh;
}

.c1
{
    background-color:brown;
}
.c2
{
    background-color:rgb(170, 59, 59);
}
.c3
{
    background-color:rgb(156, 75, 75);
}
.c4
{
    background-color:rgb(151, 100, 100);
}
.c5
{
    background-color:rgb(165, 133, 133);
}

/* @media (min-width: 600px)
{
  .c2,
  .c3
  {
    width: 46.8%
  }
}
*/
/* @media (min-width: 800px)
{
    .container
    {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    .c1
    {
        width: 60%;
    }
    .c2
    {
        width: 40%;
    }
    .c3 , .c4
    {
width: 33%;
    }
    .c5
    {
        width: 34%;
    }

}
 */